/* Importação das Fonts Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@600&family=Montserrat:wght@800&family=Teko:wght@600&display=swap');

/* Estilos gerais (Todo o projeto) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

body {
    background: #1F1517;
    color: #FFFF;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove a decoração de texto, como sublinhado, do elemento */
}

ul {
    list-style-type: none; /* Remove os marcadores de lista (bolinhas) de um elemento de lista */
}



/* Sessão principal (Main) */

main {
    display: flex; /* Define o elemento como um container flexível */
    flex-direction: column; /* Estabelece a direção dos elementos filhos para uma disposição em coluna */
}



.container {
    background: #181012;
    transform: translateX(100%);
    opacity: 0;

    /* Adiciona transição para suavizar a animação */
    transition: transform 1s ease, opacity 1s ease;
}

/* Animação para entrada da direita para a esquerda */
.container.slide-from-right {
    transform: translateX(0);
    opacity: 1;
}

.info {
    max-width: 1120px; /* Define a largura máxima do elemento como 1120 pixels */
    height: 60vh; /* Define a altura do elemento como 60% da altura da janela de visualização (viewport height) */
    display: flex; /* Define o elemento como um container flexível */
    flex-direction: row; /* Estabelece a direção dos elementos filhos para uma disposição em linha */
    justify-content: space-between; /* DIstribui os elementos filhos uniformemente ao longo do eixo principal, com espaço entre eles */
    gap: 6rem; /* Define o espaçamento entre os elementos filhos como 6 vezes o tamanho da unidade rem */
    align-items: center; /* Alinha os elementos filhos verticalmente no centro */
    padding: 0rem 2rem; /* Define o preenchimento (padding) de 0 na direção vertical e 2 vezes o tamanho da unidade rem na direção horizontal */
    margin: auto; /* Centraliza o elemento horizontalmente na tela */
    overflow: clip; /* Apara o conteúdo que ultrapassa o container (No caso as fotos) */


}

/* Destaque */

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Usado na palavra (Novidades) no main */
.marrom {
    color: #a45a49;
}

/* Usado na palavra (Em alta)  em receitas */
.amarelo {
    color: #e7a80e;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800;
    color: #FFF;
}

/* Linha marrom abaixo do título principal (Encontre a receita...) */
hr {
    border-color: #a45a49;
}

/* Texto abaixo do título principal (Explore dezenas...) */
.subtitle {
    color: #c7bab3;
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Galleria de fotos (Mosaico) */
.images {
    max-width: 45%; /* Define a largura máxima do elemento como 45% do espaço disponível */
    column-count: 4; /* Divide o conteúdo do elemento em 4 colunas */
    column-gap: 1rem; /* Define o espaçamento entre as colunas como 1 unidade rem */
    margin: -1rem; /* Aplica uma margem negativa de 1 unidade rem em todas as direções (topo, direita, baixo, esquerda) */

}

.images > figure > img {
    width: 100px;
    border-radius: 0.5rem;
}


/* Botão */

.button {
    width: 100%;
    max-width: 1120px;
    padding: 1rem;
    margin: auto;
    transform: translateY(-50%); /* Move o elemento 50% do seu próprio tamanho para cima ao longo do eixo Y */

}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #a45a49;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
}

button:hover {
    background: #783f37; /* Nova cor de fundo quando o cursor passa por cima */
}




/* Responsividade (Telas menores que 768px) */

@media screen and (max-width: 768px) {


    /* Galleria de fotos (Mosaico) */

    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .images {

    column-count: 1; /* Exibe apenas 1 coluna de fotos */
    column-gap: 0.5rem; /* Define o espaçamento entre as colunas como 1 unidade rem */
    }
    .receitas {
        padding-top: 0px;
    }

    .button {
        padding-bottom: 0px;
    }


    
}